*, #boardBackground{
	background-image: none;
	margin: 0;
	padding: 0;
	//color: black;
}
.chosenCharacter{
	display: none;
	
}
#container{
	width: 100%;
	margin: 0;
	padding: 0;
}

#container .canvas{
	width: 98%;
	margin: 50px 0 85px 10px;
	box-shadow: -0.3px 1px 2px 4px black;
	//border: 2px solid black;
	background-color: rgba(0, 0, 0, .5);
}

// Displaying your chosen players on the board page.
.chosenPlayer img{
	//visibility: hidden;
	display: none;
}
.chosenPlayer{
	width: 50px;
	background-color: grey;
	box-shadow: -0.3px 1px 2px 4px black;
}